.district-card {
  background-color: #5CDB95;
  border: 2px solid #05386B;
  font-family: 'Alegreya SC', serif;
  height: 18em;
  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  margin: .85em;
  padding-bottom: 1em;
  text-align: center;
  width: 15em;
}

.location-header {
  background-color:#05386B;
  color: #5CDB95;
  font-size: 1.1em;
  margin: 0;
}

.yearStats {
  color: #05386B;
  font-size: 1rem;
  margin: auto 0;
}

.lowStats {
  color: #747474;
  font-size: 1rem;
  font-weight: 600;
  margin: auto 0;
}

.stats-wrap {
  font-weight: 600; 
  padding: 1em;
}