.district-list {
  background-color: rgb(46, 182, 107);
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  justify-content: center;
  margin: auto 0;
  padding: 0.5em;
  text-align: center;
}

.district-searched {
  height: 100vh;
}

.filtered {
  height: 100vh;
}

.top-row {
  height: 20em;
}
