.district-card {
  background-color: rgba(237, 245, 225, 0.829);
  border: 3px solid rgb(214, 215, 216);
  cursor: pointer;
  font-family: 'Cabin', sans-serif;
  height: 18em;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  margin: 0.85em;
  padding-bottom: 1em;
  text-align: center;
  width: 15em;
}

.location-header {
  background-color: #05386b;
  color: rgb(46, 182, 107);
  font-size: 1.1em;
  margin: 0;
}

.yearStats {
  color: #05386b;
  font-size: 1rem;
  margin: auto 0;
}

.lowStats {
  color: #a7a5a5;
  font-size: 1rem;
  font-weight: 600;
  margin: auto 0;
}

.selected {
  border: 3px solid #ddd01f;
}

.stats-wrap {
  font-weight: 600;
  padding: 1em;
}
