.logo {
  font-size: 2em;
  margin-left: 2em;
}

.nav {
  align-items: center;
  background-color: #05386B;
  border-bottom: 4px solid rgba(237, 245, 225, 0.829);
  display: flex;
  color: rgb(46, 182, 107);;
  font-family: 'Cabin', sans-serif;
  justify-content: space-between;
  height: 5em;
  text-shadow: 1px 1px rgba(237, 245, 225, 0.829);
  width: 100%;
}
