.instruct-text {
  font-size: 1.2em;
}

.left-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto 4em;
  height: 5em;
}

.logo {
  font-size: 2em;
  padding-left: 0.5em;
}

.logo-icon {
  width: 2em;
}

.nav {
  align-items: center;
  background-color: #05386b;
  border-bottom: 4px solid rgba(237, 245, 225, 0.829);
  display: flex;
  color: rgb(46, 182, 107);
  font-family: 'Cabin', sans-serif;
  justify-content: space-between;
  height: 5em;
  width: 100%;
}
